@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html,
body {
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-smoothing: antialiased;
}
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}
button,
input[type='checkbox'] {
  outline: none;
}
._1XP1U {
  background: #fff;
  margin: 200px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
._1XP1U input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
._1XP1U input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
._1XP1U input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
._1XP1U h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

._11G5b {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

._11G5b:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

._2Rdg5 {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

._2Rdg5 li {
  display: inline;
}

._2Rdg5 li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

._2Rdg5 li a.KA4tP,
._2Rdg5 li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

._2Rdg5 li a.KA4tP {
  border-color: rgba(175, 47, 47, 0.2);
}

._2aiYj {
  float: left;
  text-align: left;
}

._2aiYj strong {
  font-weight: 300;
}

._2VhED,
html ._2VhED:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

._2VhED:hover {
  text-decoration: underline;
}

@media (max-width: 430px) {
  ._11G5b {
    height: 50px;
  }
  ._2Rdg5 {
    bottom: 10px;
  }
}

._1LCq9,
._2TStV {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-smoothing: antialiased;
}

._1LCq9 {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

._1MAoA {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

.l9hMg {
  margin: 0;
  padding: 0;
  list-style: none;
}

.l9hMg li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.l9hMg li:last-child {
  border-bottom: none;
}

.l9hMg li._2LE8Z {
  border-bottom: none;
  padding: 0;
}

.l9hMg li._2LE8Z ._3IEu8 {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.l9hMg li._2LE8Z .cswuJ {
  display: none;
}

.l9hMg li ._1euYG {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  /* Mobile Safari */
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.l9hMg li ._1euYG:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.l9hMg li ._1euYG:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.l9hMg li label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.l9hMg li._1VEnC label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.l9hMg li ._3_fjc {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

.l9hMg li ._3_fjc:hover {
  color: #af5b5e;
}

.l9hMg li ._3_fjc:after {
  content: '\D7';
}

.l9hMg li:hover ._3_fjc {
  display: block;
}

.l9hMg li ._3IEu8 {
  display: none;
}

.l9hMg li._2LE8Z:last-child {
  margin-bottom: -1px;
}

._1L1bM {
  position: absolute;
  top: -55px;
  left: -12px;
  width: 60px;
  height: 34px;
  text-align: center;
  border: none;
  /* Mobile Safari */
}

._1L1bM:before {
  content: '\276F';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

._1L1bM:checked:before {
  color: #737373;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ._1L1bM,
  .l9hMg li ._1euYG {
    background: none;
  }
  .l9hMg li ._1euYG {
    height: 40px;
  }
  ._1L1bM {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
}

._3Ivjf .gyYcA {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  /* Mobile Safari */
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

._3Ivjf .gyYcA:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="%23ededed" stroke-width="3"/></svg>');
}

._3Ivjf .gyYcA:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="%23bddad5" stroke-width="3"/><path fill="%235dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

._3Ivjf label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

._3Ivjf ._6oXTL {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

._3Ivjf ._6oXTL:hover {
  color: #af5b5e;
}

._3Ivjf ._6oXTL:after {
  content: '\D7';
}

._3Ivjf:hover ._6oXTL {
  display: block;
}

._3Ivjf .Dlke2 {
  display: none;
}

.atkUq {
  border-bottom: none;
  padding: 0;
}

.atkUq:last-child {
  margin-bottom: -1px;
}

.atkUq .Dlke2 {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.atkUq .R2I1d {
  display: none;
}

._2d4Cr label {
  color: #d9d9d9;
  text-decoration: line-through;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ._3Ivjf .gyYcA {
    background: none;
  }
  ._3Ivjf .gyYcA {
    height: 40px;
  }
}

